.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free"!important;
}

.fa,
.fas {
    font-weight: 500;
}

.contato {
    float: right;
    position: relative;
    z-index: 10;
    width: 100%;
    margin-top: -106px;
}

.especialidade {
    width: 100px;
    height: 100px;
    padding: 10px;
}

article.col-md-9.col-12.text-black {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 70% !important;
}

@media only screen and (max-width:768px) {
    .especialidade {
        width: 70px;
        height: 70px;
        padding: 10px;
    }
    .contato {
        float: none;
        position: relative;
        z-index: 1;
        width: 100%;
        margin-top: 30px;
    }
}

.contato .fone {
    background: #003E64;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.contato .fone .titulo {
    font-size: 1.8em;
    color: #fff;
    text-transform: uppercase;
}

.contato .formulario {
    background: #E7E7E7;
    padding: 35px;
    border-radius: 0 0 5px 5px;
}

.btn-mpi {
    border: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    background: inherit;
    padding: 11px;
    background: #FF6602;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #BB4A00;
}

.formulario-mpi input[type=text],
.formulario-mpi select,
.formulario-mpi input[type=tel],
.formulario-mpi input[type=date],
.formulario-mpi input[type=password],
.formulario-mpi input[type=email],
.formulario-mpi input[type=password],
.formulario-mpi select,
.formulario-mpi textarea {
    width: 100%;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 4px;
}

.banner-titulo {
    background: url(../images/background-mpi.jpg) no-repeat center center;
    background-size: cover;
    height: 45vh;
}

@media only screen and (max-width:768px) {
    .banner-titulo {
        background: url(../images/background-mpi-m.jpg) no-repeat center center;
        background-size: cover;
    }
}

.passo img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.passo h3 {
    font-size: 1.5em
}

@media only screen and (max-width:768px) {
    .passo img {
        width: 80px;
        height: 80px;
        padding: 10px;
    }
    .passo h3 {
        font-size: 1.1em
    }
    .esp h3 {
        font-size: 1.5em
    }
    .contato .fone .titulo {
        font-size: 1.4em;
    }
    .contato .formulario {
        padding: 20px;
    }
}

.banner-h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.breadcrumb {
    background: none;
    padding: 0px;
    margin: 0px;
    justify-content: start;
    font-size: 16px;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #68A1F0;
    /* content: "\f105"; */
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
}

.breadcrumb-item.active {
    color: rgba(0, 0, 0, .7);
}

.menu-lateral nav ul li a {
    height: auto;
    padding: 4px 10px;
    border-left: 4px solid #e3e3e3;
    margin: 0 0 5px 0;
    transition: .3s ease-in-out;
    color: #333!important;
    width: 100%;
    white-space: normal!important;
}

.menu-lateral nav ul li a:hover {
    border-left: 4px solid #3579a7;
    color: #333;
    background-color: #3579a754;
}

.menu-lateral nav {
    list-style: none;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid #eee;
}

article p {
    text-align: justify;
}

@media only screen and (max-width:768px) {
    article p {
        text-align: left
    }
    .related-posting img {
        height: 240px!important;
    }
    .menu-lateral nav {
        max-height: 40vh;
        border: 1px solid #eee;
    }
}

.gallery img {
    width: 100%;
    padding: 5px;
    height: 100%;
    border: 1px solid #ddd;
}

.related-posting {
    position: relative;
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    border: 1px solid transparent;
}

.related-posting:hover {
    box-shadow: 2px 2px 2px #eee;
    border: 1px solid #e3e3e3;
}

.related-posting img {
    height: 120px;
    width: 100%;
    object-fit: contain;
}

.related-posting .card-body {
    padding: 1.25rem 0;
}

.card-body.text-center.p-2 {
    min-height: 75px;
    display: flex;
    align-items: center;
}

.related-posting h2 {
    font-size: 1.5rem;
    color: #70280d;
    text-transform: uppercase !important;
}

a {
    text-decoration: none !important;
}

nav>.nav.nav-tabs {
    border: 0px;
    background: transparent;
    border-radius: 0;
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
    border: none;
    padding: 10px;
    color: #333;
    background: #eee;
    border-radius: 0;
    font-size: .9em;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

nav>div a.nav-item.nav-link.active {
    background: #de5438;
    color: #fff;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 3px solid #772a0e;
    border-bottom: 2px solid #772a0e;
    padding: 5px 20px;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    background: #772a0e;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.tab-pane ul {
    display: block;
    padding: 0px;
}

.tab-pane ul li {
    width: 24% !important;
    font-size: 0.85em;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

div.col-12.mt-4 div.row a {
    width: 32%;
    padding: 0 4px;
}

@media only screen and (max-width:768px) {
    .tab-pane ul li {
        width: 49% !important;
        font-size: 0.7em;
        padding: 0px;
    }
    div.col-12.mt-4 div.row a {
        width: 100%;
        padding: 0 4px;
    }
}

.owl-stage-outer {
    overflow: hidden;
}

.owl-stage {
    display: flex;
}

.owl-nav {
    display: none;
}

.owl-dots {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #587EBA;
    opacity: 0.5;
    margin: 5px;
}

.owl-dot.active {
    opacity: 1;
}

/* CONTEÃƒÅ¡DO CONTAINER */
.article-content {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 15px;
    border-radius: 5px;

    margin-top: 15px;
    position: relative;
    padding-bottom: 50px;
}
.article-content strong {
    font-weight: 600;
    color: #000;
    font-size: 16px;
}

.article-content p {
    padding-left: 10px;
    font-size: 1.01em;
    display: block;
}

.article-content ul li {
    list-style: inside;
    margin-bottom: 10px;
    line-height: 30px;
    margin-left: 30px;
    color: #000;
}

.article-content ol li {
    list-style: number;
    padding: 10px;
}

.article-content h2 {
    font-size: 1.5em;
    margin-left: 15px;
}

.article-content h3 {
    font-size: 1.3em;
    margin-left: 15px;
    color: #1454b5;
}

.article-content h4 {
    font-size: 1.2em;
    margin-left: 14px;
    color: #000;
}

.article-content .img-right {
    float: right;
    mix-blend-mode: multiply;
    display: block;
    margin-left: 15px;
		width: 200px;
		height: 200px;
}

.article-content .img-left {
    float: left;
    mix-blend-mode: multiply;
    display: block;
    margin-right: 15px;
		width: 200px;
		height: 200px;
}

.article-content .img-center {
    display: flex;
    justify-content: center;
}

.img-right > img:hover, .img-left > img:hover, .img-center > img:hover {
    transform: scale(1.01);
}

.img-right > img, .img-left > img, .img-center > img {
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 300px;
}

.img-right > p, .img-left > p, .img-center > p {
    text-align: center;
    color: #9a1a1a;
}

.article-content embed {
    width: 100%;
    height: 200px;
    min-height: 200px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .img-center {
        flex-direction: column;
    }

    .article-content .img-right {
        float: none;
        display: flex;
        justify-content: center;
    }

    .article-content .img-left {
        float: none;
        display: flex;
        justify-content: center;
    }
}

.article-content a {
    cursor: pointer;
    color: #006fe6 !important;
    font-weight: bold;
}

/* FIM CONTEÃƒÅ¡DO CONTAINER */
/* DIV TABLE STYLE */
.table-style table {
    border-collapse: collapse;
    width: 100%;
}

.table-style th, .table-style td {
    border: 1px solid #c0c0c0;
    padding: 8px;
    text-align: left;
}

.table-style th {
    background-color: #65677300;
    color: #000;
    border: 1px solid black;
}

.table-style tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-style tr:hover {
    background-color: #d9e6f2;
}

.table-style {
    color: #000000cf;
    padding-left: 15px;
    margin-bottom: 30px;
}

.title-table {
    text-align: center;
    color: black;
    font-size: 1.5em;
    font-family: 'Open Sans';
}

.table-style td {
    color: #000;
    background-color: #44465400;
    border: 1px solid black;
}

/* FIM DIV TABLE STYLE */
/* TABLE 3 COLUNAS +*/
@media (max-width: 1024px) {
    .table-3-column th, .table-3-column td {
        font-size: 12px;
    }

    .table-3-column th {
        border: 1px solid #444141;
    }

    .table-3-column td:first-child {
        border-top: 1px solid #444141;
    }

    .table-3-column thead tr:first-child th {
        position: sticky;
        top: 0;
    }

    .table-3-column table {
        border-collapse: collapse;
        width: 100%;
        margin: 15px 0px 35px 0px;
        overflow-x: auto;
        overflow-y: auto;
        height: 70vh;
        display: block;
    }

    .table-3-column td, .table-3-column th {
        text-align: left;
    }

    .table-3-column table::-webkit-scrollbar {
        height: 10px;
    }

    .table-3-column thead {
        background-color: #118900;
        color: white;
    }

    .table-3-column td:hover {
        background-color: #d7d7d7;
    }
}

/*FIM TABLE 3 COLUNAS +*/
/* BUSCAS RELACIONADAS*/
.busca-relacionadas {
    width: 100%;
    padding: 10px 0;
    padding-top: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

ul.relacionada li:hover {
    background-color: #c4a10433;
}

ul.relacionada li {
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    transition: 0.4s;
}

.busca-relacionadas b {
    margin-left: 7px;
    font-size: 16px;
}

@media only screen and (max-width: 480px) {
    .busca-relacionadas {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* FIM BUSCAS RELACIONADAS*/
/* BREADCRUMB*/
ol.breadcrumb {
    display: flex;
    
    align-items: center;
}

li.breadcrumb-item {
    margin: 4px;
}

@media screen and (max-width: 768px) {
    ol.breadcrumb {
        flex-direction: column;
        margin-top: 25px;
    }
}
li.breadcrumb-item a:hover {
    color: #4747b6;
}

li.breadcrumb-item a {
    padding: 10px;
    background-color: #e1e1e1;
    border-radius: 5px;
    transition: 0.4s;
}

/* FIM BREADCRUMB */
/* LEIA MAIS */
details.webktbox summary::-webkit-details-marker {
    display: none;
}

/*Caso na pÃƒÆ’Ã„â€žgina apareÃƒÆ’Ã‚Â§a um simbolo de flecha junto com o botÃƒÆ’Ã„Â¢o 'Leia mais', add esse trecho:  */
summary {
    display: block !important;
    cursor: pointer;
}

/* Em 'content' pode colocar a mensagem que deseja. Ex: 'Ver mais', 'Leia mais', etc. */
details.webktbox summary:before {
    content: 'Leia mais sobre esse artigo';
    display: flex;
    color: #000;
    padding: 8px 8px;
    cursor: pointer;
    width: 95%;
    justify-content: center;
    font-style: italic;
    margin-top: 1%;
}

/* BotÃƒÆ’Ã„Â¢o fechar*/
details.webktbox[open] summary:before {
    content: 'Fechar';
    position: absolute;
    top: 95%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    details.webktbox summary:before {
        font-size: 16px;
        padding: 6px;
    }

details.webktbox[open] summary:before {
        font-size: 16px;
        width: 90%;
        padding: 6px;
        top: 96.5%;
    }
}

/* FIM LEIA MAIS */